{% set show_summary = header.summary.enabled|defined(true) and page.content != page.summary %}
{% set show_download = page.header.download %}
{% set card_image = page.header.card.image %}
{% if item_length > 2 %}
    <div class="widget col portfo_col three_col">
{% else %}
    <div class="widget col portfo_col two_col">
{% endif %}

    <div id="{{ page.slug }}" class="card ripple">
    {% if card_image %} 
            <img src="{{ page.media[page.header.card.image.url].url }}" alt="{{ page.header.card.image.alt }}" class="card_image" />
    {% endif %}
    <article class="content">
        <header>
        <h3>
            <a href="{{ page.url }}">{{ page.title }}</a>
        </h3>

        {% include 'partials/taxonomies.html.twig' %}

        {% if page.header.publish_date %}
            <span class="label default"><time>{{ page.header.publish_date|date() }}</time></span>
        {% endif %}
        </header>

        {% if show_summary %}
        {{ page.summary }}
        {% else %}
        {{ page.content }}
        {% endif %}

        {% if show_summary %}
            <a href="{{ page.url }}">
            {{ "THEME_PLUSPUNKT.READ_MORE"|t }}
            </a>
        {% endif %}
        {% if show_download %}
            <a target="_blank" href="{{ page.media[page.header.download.url].url }}">
            {{ page.header.download.alt }}
            </a>
        {% endif %}
    </article>

    {# {% if show_summary or show_download %}
        <div class="actions content">
        
        </div>
    {% endif %}
    #}
    </div>
</div>